/* Add to Custom CSS in Dashboard */
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-base.css");
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-accent.css");
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-roundings.css");
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-login.css");
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-lists.css");
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-media.css");
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-episodes.css");
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-player.css");
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-cast.css");
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-usersettings.css");
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-dashboard.css");
@import url("https://karretoto.github.io/jelly/karre/jellyfin-theme-best/jellyfin-theme-misc.css");
:root {--accent: 18, 100, 0 ;}
:root {--rounding: 12px ;}
:root {--rounding-input: 4px ;}
:root {--headeropacity: 0.7 ;}
:root {--bgopacity: 0.4 ;}
:root {--footeropacity: 0.8 ;}
