/* Add to Custom CSS in Dashboard */
@import url('https://github.com/karretoto/jelly/tree/main/karre/jellyfin-theme-best/jellyfin-theme-base');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-accent.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-roundings.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-login.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-lists.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-media.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-episodes.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-player.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-cast.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-usersettings.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-dashboard.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-misc.css');
:root {--accent: 18, 100, 0 ;}
:root {--rounding: 12px ;}
:root {--rounding-input: 4px ;}
:root {--headeropacity: 0.7 ;}
:root {--bgopacity: 0.4 ;}
:root {--footeropacity: 0.8 ;}
