/*  
  ==================================
  Base & Header
  ==================================

  finny - HTPC Theme for Jellyin
  Based on: Ultrachromic/header/header_transparent.css & Ultrachromic/fixes.css

*/

/* Accent Colors */
:root {--accent: 204, 151, 98 ;}
:root {--headeropacity: 0.7 ;}
:root {--bgopacity: 0.4 ;}
:root {--footeropacity: 1 ;}

:root {--light60: rgba(255, 255, 255, 0.6) ;}
:root {--light40: rgba(255, 255, 255, 0.4) ;}
:root {--light20: rgba(255, 255, 255, 0.2) ;}
:root {--dark20: rgba(0, 0, 0, 0.2) ;}
:root {--dark40: rgba(0, 0, 0, 0.4) ;}
:root {--dark60: rgba(0, 0, 0, 0.6) ;}
:root {--dark80: rgba(0, 0, 0, 0.8) ;}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap'); body, h1, h2, h3, h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Background & Backdrop */
.mainDrawer,
.skinHeader-withBackground {
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
}

/* Card Footer */
.cardFooter:not(.visualCardBox-cardFooter) {
  background: rgba(0, 0, 0, var(--footeropacity)) !important;
}

/* Background Opacity */
.backgroundContainer.withBackdrop {
  background:  rgba(0, 0, 0, var(--bgopacity)) ;
}


.infoBanner {
  background: black;
}

.css-4yt2of {
  background: var(--dark60);
  border-right: 1px solid rgba(var(--accent), 0.12);
}

/*
| Smaller TV Layout
-----------------------------*/

/* general "dpi" */
.layout-tv {
  font-size: 110% !important;
}

/* page adjustments */
#indexPage, 
#moviesPage, 
#tvRecommendedPage, 
#musicRecommendedPage {
  margin-top: 4em !important;
  padding-top: 0.5em !important;
}

/*
| Scrollbar
-----------------------------*/

/* scrollbar Color */
* {
  scrollbar-color: rgba(var(--accent), 0.8) !important;
}

/* Show - auto (thin) */
#moviesPage, 
#moviesPage::-webkit-scrollbar,
#tvRecommendedPage, 
#tvRecommendedPage::-webkit-scrollbar,
#itemDetailPage,
#itemDetailPage::-webkit-scrollbar {
  scrollbar-width: thin;
}

/* Hide */
.libraryDocument,
.libraryDocument::-webkit-scrollbar, 
#indexPage, 
#indexPage::-webkit-scrollbar,
#loginPage,
#loginPage::-webkit-scrollbar {
  overflow-y: auto !important;
  scrollbar-width: none;
}

/* Scrollbar Thumb*/
.mdl-slider::-moz-range-thumb,
.mdl-slider::-ms-thumb,
.mdl-slider::-webkit-slider-thumb,
::-webkit-scrollbar-thumb {
  border-radius: var(--rounding);
  background: rgba(var(--accent),0.8) !important;
}

/* Scrollbar div */
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece {
  background: #0000 !important;
}

/*
| Buttons
-----------------------------*/

/* Menu Button Animation - Hover & Focus */
.button-flat:hover,
.button-flat:focus,
.cardOverlayButton:hover,
.paper-icon-button-light:hover,
.paper-icon-button-light:hover:not(:disabled),
.paper-icon-button-light:focus,
.paper-icon-button-light:focus:not(:disabled) {
  color: rgb(var(--accent)) !important;
  background: #0000 !important;
}


/*
.paper-icon-button-light:not(.headerButton) {
  margin-left: 1em;
  margin-right: 1em;
}
*/

/* Menu Button Animation - Focus only */
.button-flat:focus,
.paper-icon-button-light:focus,
.paper-icon-button-light:focus:not(:disabled) {
  transform: scale(1.2) !important;
}


/* Buttons: Keep border size but transparent */
.paper-icon-button-light {
  border-radius: var(--rounding);
  border: solid 1px #0000 !important;
}


/*
| Fields & Inputs
-----------------------------*/

/* Textarea */
.emby-textarea {
  background: var(--dark60); 
  border: 0.01em solid var(--light20);
  border-radius: var(--rounding-input) !important;
  resize: vertical !important;
  font-family: monospace;
  font-size: 10pt;
  padding: .5em .6em;
}

/* Input */
.emby-input{
  background: var(--dark60); 
  border: 0.01em solid var(--light20);
  border-radius: var(--rounding-input) !important;
  padding: .5em .6em;
}

/* Select */
.emby-select-withcolor {
  background: var(--dark60); 
  border: 0.01em solid var(--light20);
}
.selectArrow {
  margin-top: 1.05em;
}
.emby-select {
  border-radius: var(--rounding-input) !important;
}

/* Checkbox */
.checkboxOutline {
  background: var(--dark60); 
  border: 0.01em solid var(--light20);
}

/* Links */
.button-link {
  color: rgb(var(--accent), 0.8) !important;
}

/*
| Fields & Inputs: Animation
-----------------------------*/

/* Input, Textarea & Select: Focus */
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus {
  border: 0.01em solid rgba(var(--accent),0.5) !important;
  background: var(--dark40) !important; 
}

/* Checkbox: Focus & Hover */
.emby-checkbox:focus + .checkboxLabel,
.emby-checkbox:hover + .checkboxLabel {
  color: rgb(var(--accent), 0.8) !important;
}
.emby-checkbox:focus + span + .checkboxOutline,
.emby-checkbox:hover + span + .checkboxOutline {
  border: 0.01em solid rgba(var(--accent),0.8) !important;
}

/* Checkbox: Checked */
.emby-checkbox:checked + span + .checkboxOutline {
  border: 0.01em solid rgba(var(--accent), 0.6) !important;
  background: rgba(var(--accent), 0.6) !important;
}


/*
| Taskbar
-----------------------------*/

/* don't scroll taskbar in tv mode */
.layout-tv .skinHeader {
  position: fixed !important;
}

/* center buttons on taskbar */
.headerTop {
  padding: .6em .6em !important;
}

/* Middle "taskbar" - text & vertical-scroll */
.headerTabs.sectionTabs {
  text-size-adjust: 105%;
  font-size: 105% !important;
  margin-top: -3.6em !important;
  width: 40vw;
  scrollbar-width: none;
  scroll-behavior: smooth !important;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
  align-self: center;
  position: relative;
  transition: filter 0.2s
}

/* items in "taskbar" - same size as header */
/*
.emby-tabs-slider {
  white-space: nowrap;
  height: 3.8em;
}
  */

/* make buttons slightly bigger */
.sectionTabs {
  font-size: 105% !important;
}

/* Tab Buttons */
.emby-tab-button {
  padding: 1.1em 1.5em !important;
}

/* Tab Buttons: Focus & Hover */
.emby-tab-button:hover,
.emby-tab-button:focus {
  color: rgb(var(--accent)) !important;
  transform: scale(1.2) !important;
}

/* Tab Button: Active */
.emby-tab-button-active {
  background: #0000 !important;
  color: #fff;
}


/*
| Loading spinner & Progress Ring
-----------------------------*/

/* Loading Spinner: Accent Color */
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
  border-color: rgba(var(--accent)) !important;
}

/* Theme process progress ring */
.progressring-spiner {
  border-color: rgba(var(--accent));
  border-width: .35em;
}

/* Theme process progress ring */
.progressring {
  margin: .4em;
}
.progressring-bg {
  display: none;
}


/*
| Div UI styles
-----------------------------*/

/* Glow Toast */
.toast {
  box-shadow: 0px 0px 5px rgb(var(--accent)) !important;
  border: solid 1px rgba(var(--accent),0.6) !important;
}

/* Fix top right user icon when using a profile image */
.headerUserButtonRound {
  border-radius: 50px !important;
}


