/*  
  ==================================
  Login Page
  ==================================

  finny - HTPC Theme for Jellyin
  Based on: Ultrachromic/login/login_frame.css

*/

/* Login background */
#loginPage {
  background: url(https://i.imgur.com/9vL4iNf.png) !important; 
  background-size: cover !important;
}

/* move "please sign in" */
#loginPage .visualLoginForm {
  padding-top: 1em;
}

/* more space between buttons */
#loginPage .emby-button.block {
    margin: 0.5em 0;
}

/* Hide "manual" and "forgot" buttons */
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
  display: none;
}

/* hide disclaimer container */
#loginPage .loginDisclaimerContainer {
  display: none;
}

/* Narrow the login form, size according to display size (bigger on mobile) */
#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

/* style login card */
#loginPage .padded-left.padded-right.padded-bottom-page {
  margin-top: 8em;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.35);
  width: 24em;
  border-radius: var(--rounding);
  padding-bottom: 2em !important;
}
#loginPage .squareCard {
  width: 33%;
}
#loginPage form {
  padding-top: 4em;
}
#loginPage .sectionTitle{
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1.2em !important;
}
#loginPage .itemsContainer {
  padding-top: 1em !important;
}
#loginPage .cardImage {
  color: rgba(var(--accent)) !important;
  background: var(--light20) !important;
}
