/*  
  ==================================
  Media Page
  ==================================

  finny - HTPC Theme for Jellyin
  Based on: Ultrachromic

*/

/* Bigger Taskbar */
.layout-tv .itemDetailPage {
  padding-top: 4.7em !important;
}

/* hide some elements on page in ribbon and details */
.detailLogo,
.endsAt
.hide+.detailPageWrapperContainer .itemName
.itemExternalLinks,
.itemTags {
  display: none !important;
}

/* Move page content to bottom */
.layout-tv .detailPagePrimaryContainer {
  display: block;
  padding-top: 2em;
}


/*
| Details Ribbon (Media Infos)
-------------------------------------------------*/

/* style & placement of the ribbon */
.detailRibbon {
  /* padding-left: 32vw !important; */
  padding-right: 2% !important;
}

/* desktop mode only */
.layout-desktop .detailRibbon {
  height: 9em !important;
  margin-top: -11em !important;
}


/*
| Media Info and Buttons
-------------------------------------------------*/

/* Info Container */
.infoWrapper {
  padding-bottom: 0.15em;
}

/* media infos - placement and white color */
.itemMiscInfo {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  color: #ffffff !important;
}

.parentName {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

/* Media Button */ 
.detailButton {
  font-size: 120% !important;
  border-radius: var(--rounding);
  border: solid 1px #0000 !important;
  padding: .6em !important;
  margin-right: .6em !important; 
}

/* Media Button: Focus */ 
.detailButton:focus {
  border: solid 1px rgba(var(--accent), 0.6) !important;
}


/*
| Media Poster
-------------------------------------------------*/

/* Cover Style*/
.detailImageContainer .card {
  max-width: 26vw;
  left: 3% !important;
}

/* Portrait Position */
.detailPagePrimaryContainer.detailRibbon .card.portraitCard {
  top: 50% !important;
}

/* Landscane Position */
.detailPagePrimaryContainer.detailRibbon .card.backdropCard {
  top: 32% !important;
}


/*
| Media Description
-------------------------------------------------*/

/* Episode / Movie Title */
#itemDetailPage .itemName.infoText.parentNameLast {
  display: block;
  padding-bottom: 0.3em;
}

/* Media Title and Buttons */
.detailPagePrimaryContent {
  padding-bottom: 1em;
  /*border-radius: var(--rounding); */
}

/* Genres */
p.itemGenres {
  display: none;
}

/* Track Selections (audio & subtitles) */
.trackSelections {
  max-width: 100%;
  width: 60%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.detailTrackSelect {
  background: #0000 !important;
  padding: .35em 1.9em .35em .35em !important;
}

/* Media Description */
.itemDetailPage {
  padding-top: 6em !important;
}

.detailPageSecondaryContainer {
  padding-top: 0em !important;
}
.detailVerticalSection {
  margin-left: -1%;
  margin-bottom: 0em !important;
}

.overview.detail-clamp-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* narrow space between description and genre */
.itemDetailsGroup {
  margin-top: 0.5em !important;
}

/* Links on media page */
#itemDetailPage .button-link {
  color: inherit !important;
}

/* Links on media page: focus & hover */
#itemDetailPage .button-link:focus,
#itemDetailPage .button-link:hover {
  color: rgba(var(--accent),0.8) !important;
  background: #0000 !important;
  -webkit-transform: none !important;
  transform: none !important;
}

/*
| Section Layout (cast, more...)
-------------------------------------------------*/

/* space between sections */
.layout-tv .detailVerticalSection {
    margin-bottom: 1em !important;
}

/* fix section title placement */
h2.sectionTitle.sectionTitle-cards.padded-right {
	margin-left: .4em !important;
	margin-top: .2em !important;
	margin-bottom: .2em !important;
}
.sectionTitleTextButton > .material-icons {
  margin: 0;
}

/* Media sections - Mobile layout */
.layout-mobile:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
 padding-top:0em;
}

.layout-mobile .sectionTitleTextButton > .material-icons {
  padding-top: .2em;
}

/*
| Default card backgrounds
-------------------------------------------------*/


.defaultCardBackground1 {
  background: rgba(var(--accent),0.4) !important;
}

.defaultCardBackground2 {
  background: rgba(var(--accent),0.5) !important;
}

.defaultCardBackground3 {
  background: rgba(var(--accent),0.6) !important;
}

.defaultCardBackground4 {
  background: rgba(var(--accent),0.7) !important;
}

.defaultCardBackground5 {
  background: rgba(var(--accent),0.8) !important;
}